body {
    margin: 0;
    padding: 0;
}

/* Home Page Styles */
.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.fullscreen-image {
    position: absolute;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo-image {
    position: absolute;
    max-width: 30%;
    max-height: 30%;
    transform: translate(-275%, -20%);
    z-index: -1;
}

.mockup-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.App {
    margin: 0;
    padding: 0;
}

.middle-left {
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: right;
    max-width: 40%;
}

.button-home {
    padding-top: 10rem;
    text-align: left;
}

/* Join Page Styles */

.button-join {
    text-align: right;
    transform: translate(-10%, 21rem);
}

.background-rect {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #c5aae5, #7e50f2);
}

.textFieldW {
    display: inline-block;
    border-Radius: 15px;
    background-Color: white;
    overflow: visible;
    width: 40%;
    transform: translate(0,18rem);
}

.join-header {
    position: absolute;
    color: white;
    text-align: left;
    transform: translate(50%,15rem);
}

.join-graphic {
    position: absolute;
    width: 50%;
    transform: translate(-100%,25%);
}

.join-logo {
    position: absolute;
    overflow: hidden;
    width: 30rem;
    text-align: center;
    transform: translate(15%,-20%);
}

.create-header {
    position: absolute;
    color: white;
    text-align: left;
    transform: translate(25%,15rem);
}

.waiting-list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waiting-list-names-container {
}

.waiting-list-item {
    align-items: center;
}